/*
 *	Backend Styles
 *
*/

.postbox .inside {
    display: table
}

.postbox .ckan-articles > li {
    float: left;
    margin: 5px;
    text-align: center;
    height: 290px;
    width: 120px;
    overflow: hidden;
}

.postbox .ckan-articles li li {
    margin: 2px 0;
    padding: 0;
}

.postbox .ckan-articles img {
    float: left;
    width: 100%;
    margin-bottom: 5px;
}

/*
 *	Frontend Styles
 *
*/

.ckan-articles.frontend {
    margin-left: 0px;
}

.ckan-articles.frontend a,
.widget-area .widget .ckan-articles.frontend a
.ckan-articles.frontend p,
.widget-area .widget .ckan-articles.frontend p {
    color: #999;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: .25px;
    text-decoration: none;
}

.ckan-articles li,
.widget-area .ckan-articles li {
    /*float: left;*/
    /*	width: 100px;*/
    margin: 0 5px 5px;
    padding: 10px 0 0;
    list-style: none;
}

.ckan-articles .ckan-articles img {
    width: 100%;
    border: none;
    box-shadow: 0 0 0 0;
}

.ckan-articles .ckan-articles-info {
    background: #3d444b;
    border-radius: 4px;
    color: #ededed;
    padding: 14px;
}


.ckan-articles-info p.ckan-articles-name,
.widget-area .widget .ckan-articles-info p.ckan-articles-name {
    font-size: 16px;
    line-height: 16px;
    margin:  8px 0;
}

.ckan-articles-info .ckan-articles-name a,
.widget-area .widget .ckan-articles-info .ckan-articles-name a {
    color: #fff;
    text-shadow: 0 0 1px #000;
}

.ckan-articles-info .ckan-articles-name a:hover,
.widget-area .widget .ckan-articles-info .ckan-articles-name a:hover {
    color: #fff
}

.ckan-articles-info p.ckan-articles-project,
.widget-area .widget .ckan-articles-info p.ckan-articles-project {
    color: #edeff0;
    font-size: 11px;
    line-height: 14px;
    margin: 0;
}


column-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 0
}

.column-wrap .column {
    width: 49%;
}

.column-wrap .column:last-child {
    float: right;
}

#my-ajax-filter-search label {
    display: block;
    font-weight: bold;
    font-style: italic;
}

#my-ajax-filter-search select {
    width: 100%;
    background-color: #f7f7f7;
    padding: 0.625em 0.4375em;
    border: 1px solid #d1d1d1;
}

#ajax_fitler_search_results {
    list-style: none;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin-top: 30px;
}

#ajax_fitler_search_results li {
    width: 23.5%;
    float: left;
    margin-right: 2%;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}

#ajax_fitler_search_results li.no-result {
    width: 100%;
    text-align: center;
}

#ajax_fitler_search_results li:nth-child(4n+4) {
    margin-right: 0;
}

.movie-info h4 {
    margin-bottom: 10px;
    color: #fff;
}

.movie-info p {
    margin-bottom: 0;
    color: #fff;
    font-size: 13px;
}

.movie-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    background: rgba(0, 0, 0, 0.85);
    opacity: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    transition: all .3s;
}

.movie-info * {
    width: 100%;
    display: block;
}

#ajax_fitler_search_results li:hover .movie-info {
    opacity: 1;
}